<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page object tests">
    <listeners>
        <listener class-name="listeners.CustomListeners"/>
        <listener class-name="listeners.RetryListener"/>
    </listeners>
    <test verbose="2" name="flight Test">
        <classes>
            <class name="com.khn.testcases.FlightPageTest"/>
        </classes>
    </test>
</suite>